<style>
  .cat-pic {
    width: 500px;
    background: white;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
  }
</style>

{{ $images := slice }}
{{ range readDir "static/trietcat" }}
  {{ $name := lower .Name }}
  {{ if or (strings.HasSuffix $name ".jpg") (strings.HasSuffix $name ".jpeg") (strings.HasSuffix $name ".png") (strings.HasSuffix $name ".gif") }}
    {{ $number := replaceRE "^cat([0-9]+(?:\\.[0-9]+)?).*$" "$1" $name }}
    {{ $images = $images | append (dict "name" .Name "number" (float $number)) }}
  {{ end }}
{{ end }}

{{ range sort $images "number" "desc" }}
    <img src="/trietcat/{{ .name }}" alt="Triet's Cat" class="cat-pic">
  {{ end }}
